<div class="container-fluid px-0 vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a routerLink="/movies" class="navbar-brand">Catálogo de películas</a>
          <div class="navbar-nav">
              <a class="nav-link" routerLink="/movies">Home</a>
              <a class="nav-link" routerLink="movies/add">Agregar</a>
              <a class="nav-link" routerLink="/movies/edit">Editar</a>
          </div>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info" type="submit">Search</button>
          </form>
        </div>
      </nav>
    <header class="text-emphasis-info h-15 d-flex flex-column align-items-center justify-content-center">
        <h3 class="text-primary mt-4">Indice de películas</h3>
    </header>

    <div class="my-2 h-auto">
        <router-outlet></router-outlet>
    </div>

    <footer class="bg-info-subtle text-emphasis-info p-4 h-25">
        <p>Asignatura: Conceptualización de entornos de desarrollo de aplicaciones y servicios</p>
        <P>Nombre del alumno: Gerardo Pérez Mundo</P>
        <p>Correo: gerardo.perez@udgvirtual.udg.mx</p>
    </footer>
</div>