<div class="container-fluid px-0 vh-100">
    <header class="bg-info-subtle text-emphasis-info p-4">
        <h1 class="text-primary text-center">Indice de películas</h1>
    </header>

    <div class="my-4 h-auto">
        <router-outlet></router-outlet>
    </div>

    <footer class="bg-info-subtle text-emphasis-info p-4 h-auto">
        <p>Asignatura: Conceptualización de entornos de desarrollo de aplicaciones y servicios</p>
        <P>Nombre del alumno: Gerardo Pérez Mundo</P>
        <p>Correo: gerardo.perez@udgvirtual.udg.mx</p>
    </footer>
</div>