<div class="m-0 flex flex-column h-screen">
     <div class="card">
        <p-menubar class="align-content-center" [model]="items">
            <ng-template pTemplate="start">
                <i style="color:var(--primary-color); font-size: 2rem;" class="pi pi-vimeo mx-2 "></i>
            </ng-template>
            <ng-template pTemplate="end">
                <input type="text" pInputText placeholder="Search" class="w-full" />
            </ng-template>
        </p-menubar>
     </div>
    <div class="m-4 h-full overflow-x-scroll">
        <router-outlet></router-outlet>
    </div>

    <footer class="bg-primary p-4">
        <p>Asignatura: Conceptualización de entornos de desarrollo de aplicaciones y servicios</p>
        <P>Nombre del alumno: Gerardo Pérez Mundo</P>
        <p>Correo: gerardo.perez@udgvirtual.udg.mx</p>
    </footer>
</div>