<p-accordion [multiple]="true" [activeIndex]="[0]">
    <p-accordionTab *ngFor="let movie of movies" header={{movie.title}}>
        <p>
            {{movie.year}}
        </p>
        <h3>
            {{movie.synopsis}}
        </h3>
        <p>
            {{movie.cover}}
        </p>
        <div>
            <small>Hora y fecha de creación: {{movie.created_at}}</small>
            <br />
            <small>Hora y fecha de actualización: {{movie.updated_at}}</small>
        </div>
    </p-accordionTab>
</p-accordion>