<div class="container d-flex justify-content-center h-100">
    <form [formGroup]="form" (ngSubmit)="onSubmit()"> 
        @csrf <!-- {{ csrf_field() }} --> 
        <div class="p-float-label mt-4">
            <input formControlName="title" pInputText id="title" />
            <label htmlFor="title">Título de la película</label>
        </div>
        <div class="p-float-label mt-4">
            <input formControlName="synopsis" pInputText id="synopsis" />
            <label htmlFor="synopsis">Sinopsis</label>
        </div>
        <div class="p-float-label mt-4">
            <input formControlName="year" pKeyFilter="int" pInputText id="year" />
            <label htmlFor="year">Año</label>
        </div>
        <div class="p-float-label mt-4">
            <input formControlName="cover" pInputText id="cover" />
            <label htmlFor="cover">Casting</label>
        </div>
        <button type="submit" class="btn btn-primary mt-4 w-100">Crear película</button>
    </form>
</div>

