<div class="" style="width: 100%;">
    <form class="w-75" [formGroup]="form" (ngSubmit)="onSubmit()"> 
        <div class="p-float-label mt-4">
            <input class="w-full" formControlName="title" pInputText id="title" />
            <label htmlFor="title">Título de la película</label>
        </div>
        <div class="p-float-label mt-4">
            <input class="w-full" formControlName="synopsis" pInputText id="synopsis" />
            <label htmlFor="synopsis">Sinopsis</label>
        </div>
        <div class="p-float-label mt-4">
            <input class="w-full" formControlName="year" pKeyFilter="int" pInputText id="year" />
            <label htmlFor="year">Año</label>
        </div>
        <div class="p-float-label mt-4">
            <input class="w-full" formControlName="cover" pInputText id="cover" />
            <label htmlFor="cover">Casting</label>
        </div>
        <add-button [isLoading]="loading" /> 
        <p-toast position="top-center"></p-toast>
    </form>
</div>

